<template>
    <div v-if="company">
        <title-of-organization :organization="company"></title-of-organization>
        <form v-if="currentUser" style="display: inline" class="pull-right" :action="url" method="POST">
            <button class="btn btn-xs btn-danger">DELETE COMPANY</button>
        </form>
        <!-- <div>
            <strong>Volkswagen Poznań S.A.</strong>  spółka koncernu Volkswagen AG mająca siedzibę w Poznaniu.
             Jest częścią branży biznesowej zajmującej się produkcją samochodów dostawczych i ciężarowych Volkswagen
             Nutzfahrzeuge (Volkswagen Samochody Użytkowe). W poznańskiej fabryce produkowane są również oparte na wersjach
             użytkowych samochody osobowe. Jest również producentem odlewów.
            <br /><br /><br />
            <h4>Zakłady:</h4>
            <ol>
                <li>Poznań-Antoninek, ul. Warszawska 349 – produkcja samochodów</li>
                <li>Września/Białężyce - produkcja samochodów</li>
                <li>Poznań, ul. 28 Czerwca 1956 r. 229 – odlewnia</li>
                <li>Swarzędz-Jasin, ul. Rabowicka 10/1 – produkcja samochodów specjalnych, produkcja komponentów, park dostawców, podmontaż podzespołów oraz Centrum Logistyczne w Swarzędzu</li>
            </ol>
            <br />
            <h4>Produkcja:</h4>
            <ul>
                <li>Volkswagen Caddy (od listopada 2003)</li>
                <li>Volkswagen Crafter II (od października 2016)</li>
                <li>Volkswagen Transporter T6 (od 2015)</li>
            </ul>
            <br /><br />
        </div> -->
        <div class="text-content" v-html="company.description">
        </div>
        <h4>Lista uczelni, z którymi współpracuje firma:</h4>
        <list-of-cooperation v-if="company && chosenOrganization" :logos="company.universities" :chosenOrganization="chosenOrganization" :primaryOrganization="company" v-on:organizationSelection="setChosenOrganization"></list-of-cooperation>
    </div>
</template>
<script>
import TitleOfOrganization from "../../TitleOfOrganization.vue";
import ListOfCooperation from "../../ListOfCooperation.vue";

export default {
    props: ["companies"],
    data() {
        return {
            currentUser: this.$store.state.currentUser,
            chosenOrganizationFromChild: null,
            id: this.$route.params.id
        }
    },
    computed: {
        company() {
            return this.companies.find(company => company._id === this.id);
        },
        url() {
            return "/firmy/" + this.id + "?_method=DELETE";
        },
        chosenOrganization() {
            if(this.chosenOrganizationFromChild) {
                return this.chosenOrganizationFromChild;
            } else {
                return this.companies.find(company => company._id === this.id).universities[0];
            }
        }
    },
    watch: {
        '$route.params.id': function(id) {
            this.id = id;
        }
    },
    methods: {
        setChosenOrganization(payload) {
            this.chosenOrganizationFromChild = payload;
        }
    },
    components: {
        TitleOfOrganization,
        ListOfCooperation
    }
}
</script>
<style>

</style>
