<template>
    <div class="list-of-cooperation-class">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-light" v-for="organization in logos" :key="organization.item.id" @click="cooperationSelect(organization)" v-bind:class="{active: isActive(organization)}"><img :src="organization.item.img" /></button>
        </div>
        <div>
            <br />
            <strong>{{primaryOrganization.name}} - {{chosenOrganizationName}}</strong>
        </div>
        <div class="text-content" v-html="chosenCooperationText">
        </div>
        <!-- ponizej pole przeznaczone do uzupelniania wspolpracy miedzy uczelnia a firma -->
        <!-- <div>
                <strong>Organizacja:</strong><br />
                Pod koniec pierwszego roku studenci kierunku <strong>automatyka i robotyka wydziału elektrycznego</strong> przechodzą rekrutację do firmy.
                Na <strong>drugim roku(3 semestrze)</strong> studenci spędzają 1 dzień w tygodniu w firmie Phoenix Contact Wielkopolska. Kolejne semestry to stopniowe zwiększanie udziału
                firmy w edukacji. Na trzecim roku studenci spędzają w firmie już 3 dni w tygodniu.<br /><br />
                <strong>Liczba miejsc:</strong><br />
                Firma przyjmuje około <strong>7 studentów</strong> z każdego rocznika. Wsyzstkich "studentów dualnych" na Politechnice Poznańskiej jest około 32.<br /><br />
                <strong>Wynagrodzenie:</strong><br />
                Student za studiowanie dualne w firmie Phoenix Contact Wielkopolska otrzymuje wynagrodzenie.<br /><br />
                <strong>Informacje dodatkowe</strong><br />
                Studenci część czasu poświęcą na przygotowanie do egzaminu organizowanego przez Polsko – Niemiecką Izbę Przemysłowo - Handlową. Dzięki temu egzaminowi, otrzymają certyfikat potwierdzający zdobycie zawodu, akceptowany na terenie Unii Europejskiej.
        </div> -->
        <!-- powyzej pole przeznaczone do uzupelniania wspolpracy miedzy uczelnia a firma -->
    </div>
</template>
<script>
export default {
    props: ["logos", "chosenOrganization", "primaryOrganization"],
    computed: {
        chosenCooperationText() {
            return this.chosenOrganization.zasadyWspolpracy;// || this.logos[0].zasadyWspolpracy;
        },
        chosenOrganizationName() {
            return this.chosenOrganization.item.name;
        }
    },
    methods: {
        cooperationSelect(organization) {
            this.$emit("organizationSelection", organization);
        },
        isActive(organization) {
            return this.chosenOrganization === organization;
        }
    }
}
</script>
<style>
.list-of-cooperation-class {
    border: 1px solid #fc4646;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
}
</style>
