<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <router-link :to="{ name: 'home' }" class="navbar-brand"><a v-on:click="wyborKarty('home')">WybórStudiów</a></router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" v-on:click="wyborKarty('home')" v-bind:class="{active: isHome}"><router-link class="nav-link" :to="{ name: 'home' }">Strona Główna</span><i class="fa fa-newspaper-o fa-lg pull-right"></i></router-link></li>
          <li class="nav-item" v-on:click="wyborKarty('universities')" v-bind:class="{active: isUniversities}"><router-link class="nav-link" :to="{ name: 'index_of_universities' }">Wykaz uczelni<i class="fa fa-graduation-cap fa-lg pull-right"></i></router-link></li>
          <li class="nav-item" v-on:click="wyborKarty('companies')" v-bind:class="{active: isCompanies}"><router-link class="nav-link" :to="{ name: 'index_of_companies' }">Wykaz firm<i class="fa fa-briefcase fa-lg pull-right"></i></router-link></li>
        </ul>
      </div>
    </nav>
</template>

<script>
export default {
    props:["cart"],
    computed: {
        isHome() {
            return this.cart === "home";
        },
        isUniversities() {
            return this.cart === "universities";
        },
        isCompanies() {
            return this.cart === "companies";
        }
    },
    methods: {
        wyborKarty(value) {
            this.$emit("wyborkarty", value);
        },
        isActive(value) {
            return this.cart === value;
        }
    }
}
</script>

<style>
i {
    margin-top: 5px;
}
</style>
