<template>
    <div class="titleOfOrganization_class">
        <img :src="organization.img" />
        <h1>{{organization.name}}</h1>
        <hr />
    </div>
</template>
<script>
export default {
    props:["organization"]
}
</script>
<style>
.titleOfOrganization_class {
    text-align: center;
    padding-top: 4%;
}
img {
    max-height: 100px;
    width: auto;
}
</style>
