<template>
    <div v-if="university">
        <title-of-organization :organization="university"></title-of-organization>
        <form v-if="currentUser" style="display: inline" class="pull-right" :action="url" method="POST">
            <button class="btn btn-xs btn-danger">DELETE UNIVERSITY</button>
        </form>
        <!-- <div class="text-content">
            <strong>Politechnika Poznańska</strong> – państwowa szkoła wyższa o profilu technicznym w Poznaniu.
            Według Webometrycznego Rankingu Uniwersytetów Świata ze stycznia 2015, pokazującego
            zaangażowanie instytucji akademickich w istnieniu w sieci Web, uczelnia zajmuje 7. miejsce
            w Polsce wśród uczelni technicznych, a na świecie 1192. pośród wszystkich typów uczelni.
            Największy kampus uczelni znajduje się po obu stronach ulicy Piotrowo, na terenie osiedla
            samorządowego Rataje. Siedziba władz uczelni (rektorat) mieści się w zabytkowym budynku na Wildzie.
            <br /><br />
        </div> -->
        <div class="text-content" v-html="university.description">
        </div>
        <h4>Lista firm, z którymi współpracuje uczelnia:</h4>
        <list-of-cooperation v-if="university && chosenOrganization" :logos="university.companies" :chosenOrganization="chosenOrganization" :primaryOrganization="university" v-on:organizationSelection="setChosenOrganization"></list-of-cooperation>
    </div>
</template>
<script>
import TitleOfOrganization from "../../TitleOfOrganization.vue";
import ListOfCooperation from "../../ListOfCooperation.vue";

export default {
    props: ["universities"],
    data() {
        return {
            currentUser: this.$store.state.currentUser,
            chosenOrganizationFromChild: null,
            id: this.$route.params.id
        }
    },
    computed: {
        university() {
            console.log("w univeristy" + this.universities);
            return this.universities.find(university => university._id === this.id);
        },
        url() {
            return "/uczelnie/" + this.id + "?_method=DELETE";
        },
        chosenOrganization() {
            if(this.chosenOrganizationFromChild) {
                return this.chosenOrganizationFromChild;
            } else {
                return this.universities.find(univeristy => univeristy._id === this.id).companies[0];
            }
        }
    },
    watch: {
        '$route.params.id': function(id) {
            this.id = id;
        }
    },
    methods: {
        setChosenOrganization(payload) {
            this.chosenOrganizationFromChild = payload;
        }
    },
    components: {
        TitleOfOrganization,
        ListOfCooperation
    }
}
</script>
<style>

</style>
